<div id="banner-section">
  <img
    class="banner"
    src="https://res.cloudinary.com/redrikudo/image/upload/c_crop,h_1856,y_549/v1622296506/kolbeinapp/users/banners/default.jpg"
    alt="Bannière utilisateur"
  />
  <h1>{{ (user$ | async)?.displayName || (user$ | async)?.twitchName }}</h1>
</div>
<div id="main">
  <ul id="sections-list">
    <li (click)="section = 'general'">Géneral</li>
    <li (click)="section = 'socials'">Réseaux</li>
    <li (click)="section = 'challenges'">Challenges</li>
    <li (click)="section = 'actions'">Actions</li>
  </ul>
  <div id="sections">
    <section id="general-section" [hidden]="section !== 'general'">
      <h2>Identité</h2>
      <p>
        Nom d'apparence:
        <strong>{{ (user$ | async)?.displayName || 'N/A' }}</strong>
      </p>
      <p>
        Pseudo Twitch: <strong>{{ (user$ | async)?.twitchName }}</strong>
      </p>
      <p>
        Rang: <strong>{{ rankStr$ | async }}</strong>
      </p>
      <h2>Description</h2>
      <p>
        {{ (user$ | async)?.description || 'Pas de description' }}
      </p>
    </section>
    <section id="socials-section" [hidden]="section !== 'socials'">
      <h2>Soundcloud</h2>
      <p *ngIf="!(soundcloud$ | async)">Pas de soundcloud</p>
      <p *ngIf="soundcloud$ | async">{{ soundcloud$ | async }}</p>

      <h2>Youtube</h2>
      <p *ngIf="!(youtube$ | async)">Pas de chaine youtube</p>
      <p *ngIf="youtube$ | async">{{ youtube$ | async }}</p>

      <h2>Discord</h2>
      <p *ngIf="!(discord$ | async)">Pas de discord</p>
      <p *ngIf="discord$ | async">{{ discord$ | async }}</p>

      <h2>Twitch</h2>
      <p *ngIf="!(twitch$ | async)">Pas de twitch</p>
      <p *ngIf="twitch$ | async">{{ twitch$ | async }}</p>
    </section>
    <section id="challenges-section" [hidden]="section !== 'challenges'">
      <h2>Message après vote</h2>
      <p>{{ (user$ | async)?.voteThanksMsg || 'Merci pour le vote!' }}</p>
      <h2>Participations</h2>
      <p>TODO</p>
    </section>
    <section id="actions-section" [hidden]="section !== 'actions'">
      <button>Changer la banniere</button>
      <button>Demander un nouveau nom</button>
      <button>Deconnecter tous les appareils</button>
      <button>Supprimer le compte</button>
    </section>
  </div>
</div>
