<div id="main-container">
  <div id="title-container">
    <h1>Connexion</h1>
  </div>
  <div id="auth-container">
    <ng-container
      *ngIf="authService.user$ | async; then alreadyconnected; else connection"
    ></ng-container>
  </div>
  <ng-template #alreadyconnected>
    <div style="display: grid; place-items: center; gap: 0.5rem">
      <h3>Vous etes connecté en tant que</h3>
      <h1 style="font-size: 2.5rem">
        <strong>{{
          (authService.user$ | async)?.displayName ||
            (authService.user$ | async)?.twitchName
        }}</strong>
      </h1>
    </div>
  </ng-template>
  <ng-template #connection>
    <h3>
      Entrez ce code dans le tchat <br />
      pour vous connecter
    </h3>
    <span
      style="
        width: 100%;
        height: 3.5rem;
        display: flex;
        justify-content: center;
      "
    >
      <button
        *ngIf="!(authService.code$ | async)"
        @fade
        (click)="authService.fetchTwitchAuthCode()"
        id="fetch-code-btn"
      >
        Demander un nouveau code
      </button>
      <h2 *ngIf="authService.code$ | async" id="code" @fade>
        {{ authService.code$ | async }}
        <img
          class="clipboard"
          title="Copier"
          src="assets/svg/clipboard.svg"
          ngxClipboard
          [cbContent]="(authService.code$ | async) || undefined"
        />
      </h2>
    </span>
    <span class="separator">
      <hr />
      <p>ou</p>
      <hr />
    </span>
    <button>Se connecter avec <strong>Twitch</strong></button>
  </ng-template>
</div>
