@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap')

@mixin allcaps-font
  text-transform: uppercase
  font-family: 'Audiowide', 'cursive', 'sans serif'

@mixin cursive-font
  font-family: 'Odibee Sans', 'cursive', 'sans serif'
