@use 'shared/styles/colors'
@use 'shared/styles/fonts'

body
  background-color: colors.$primary-100
  @include fonts.allcaps-font
  color: colors.$primary-900

a
  text-decoration: none
  color: colors.$accent-flashy

ul, li
  list-style: none
